{% block title %}Articles{% endblock %}

{% block body %}
    
        {% for proddd in product %}
            <div>
                <h2>{{proddd.title}}</h2>
                <div class="metadata"> </div>
                <div class="content">
                    <img src="{{proddd.image}}" alt="">
                    {{ proddd.price | raw }}
                    <a href="{{path('blog_show')}}" class="btn btn-primary">Lire la suite</a>
                </div>
            </div>
        {% endfor %}
   
{% endblock %}